version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: reverba-backend
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - ENVIRONMENT=dev
    dns:
      - 8.8.8.8
      - 1.1.1.1
    dns_search:
      - .
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - app-network
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
